<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Iteration in Thymeleaf</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>Serial No.</th>
        <th>Index</th>
        <th>Odd</th>
        <th>Even</th>
        <th>First</th>
        <th>Last</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Gender</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student, studentStat : ${students}">
        <td th:text="${studentStat.count}"></td>
        <td th:text="${studentStat.index}"></td>
        <td th:text="${studentStat.odd}"></td>
        <td th:text="${studentStat.even}"></td>
        <td th:text="${studentStat.first}"></td>
        <td th:text="${studentStat.last}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.role}"></td>
        <td th:text="${student.gender}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>